#!/usr/bin/env bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

log_task "Initialize pass with GPG key"

not_during_test c pass init "{{ keepassxcAttribute 'GPG Keys' 'key_id' }}"
