[profile Mariano-Lasala/AdministratorAccess]
granted_sso_start_url      = https://d-9367413bfc.awsapps.com/start
granted_sso_region         = eu-west-1
granted_sso_account_id     = 362941420978
granted_sso_role_name      = AdministratorAccess
common_fate_generated_from = aws-sso
credential_process         = granted credential-process --profile Mariano-Lasala/AdministratorAccess

#----------------------------------------------------#
# _                     _  _____ _             _     #
#| |                   | |/ ____| |           | |    #
#| |     ___   ___ __ _| | (___ | |_ __ _  ___| | __ #
#| |    / _ \ / __/ _` | |\___ \| __/ _` |/ __| |/ / #
#| |___| (_) | (_| (_| | |____) | || (_| | (__|   <  #
#|______\___/ \___\__,_|_|_____/ \__\__,_|\___|_|\_\ #
#                                                    #
#----------------------------------------------------#
[profile localstack]
account_id            = 000000000000
aws_access_key_id     = test
aws_secret_access_key = test
cli_pager             = jq
endpoint_url          = http://localhost:4566
region                = eu-west-1
