.custom-banner {
  background-color: #4CAF50; /* Change this to your desired background color */
  color: white; /* Text color */
  overflow: hidden;
  padding: 25px;
  position: relative;
  font-size: medium;
}

.teleprompter-text {
  animation: scroll 20s linear infinite; /* Adjust duration as needed */
  font-size: small;
  position: absolute;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
