layout {
  tab_template name="tt" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane
    }
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tt name="Local #1" focus=true
  tt name="Local #2"
  tt name="Local #3"
}
